h1{
    background-color: darkslategray;
    color: blanchedalmond;
    text-align: center;
    font-size: x-large;
}

#Wel {
    font-size: large;
    color: rgb(0, 0, 0);
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol li {
    font-size: large;
    color: rgb(0, 0, 0);
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li {
    font-size: large;
    color: rgb(0, 0, 0);
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url(https://www.wallpapertip.com/wmimgs/66-666816_hd-web-background.jpg);
}